<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/style.css" rel="stylesheet" >

</head>
<body>

<div th:text="${author}" ></div>
<form th:action="@{/change(id=${author.id})}" method="post">
    <input type="text" name="name" placeholder="name" th:value="${author.name}"><br>
    <input type="text" name="surname" placeholder="surname" th:value="${author.surname}"><br>
    <input type="text" name="email" placeholder="email" th:value="${author.email}"><br>
    <input type="radio" name="gender" value="MALE" > male
    <input type="radio" name="gender" value="FEMALE"> female<br>
<!--    <input type="text" name="bio" placeholder="bio" th:value="${author.bio}"><br>-->
    <textarea name="bio" placeholder="bio" th:value="${author.bio}"></textarea>
    <input type="submit" value="change">
</form><br>
</body>
</html>