<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<form action="/addAuthor" method="post">
    <input type="text" name="name" placeholder="name"><br>
    <input type="text" name="surname" placeholder="surname"><br>
    <input type="text" name="email" placeholder="email"><br>
    <input type="radio" name="gender" value="MALE"> male
    <input type="radio" name="gender" value="FEMALE"> female<br>
    <input type="text" name="bio" placeholder="bio"><br>
    <input type="submit" value="add">
</form><br>
<a href="/authorsPage">authors</a><br>

<form action="/addBook"  method="post">
    <input type="text" name="title" placeholder="title"><br>
    <input type="text" name="description" placeholder="description"><br>
    <input type="text" name="price" placeholder="price"><br>
<!--    <input type="text" name="authorId" placeholder="id"><br>-->
    <select   name="authorId">
        <option th:each="author:${authors}" th:value="${author.id}" th:text="${author.name}"></option>
    </select><br>
    <input type="submit" value="add">
</form><br>
<a href="/books">books</a>
</body>
</html>